.navBar{
    padding: 20px 0px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* NavBar Logo Section -------------------------------------- */

.navBar .logo{
    width: 150px;

    cursor: pointer;
}

/* NavBar Menu Section -------------------------------------- */

.navBarMenu{
    display: flex;
    gap: 20px;

    list-style: none;
    color: black;

    font-size: 18px;

}

.navBar li{
    cursor: pointer;
}

/* NavBar Right Section -------------------------------------- */

.navBarRight{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navBar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid black;
}

.navBarSearchIcon{
    position: relative;
}

.navBarSearchIcon .dot{
    position: absolute;

    min-width: 10px;
    min-height: 10px;

    background-color: tomato;

    border-radius: 5px;

    top: -8px;
    right: -8px;

}

/* NavBar Right/Button Section -------------------------------------- */

.navBar button{
    background: transparent;
    
    font-size: 16px;
    color: black;

    border:1px solid tomato;
    border-radius: 50px;

    padding: 10px 30px;

    cursor: pointer;

    transition: 0.3s;
}

.navBar button:hover{
    background-color: #faebe8;
}


/* Media Queries................. */

/* For Screen>Laptops and others */
@media (max-width:1050px){
    .navBar .logo{
        width: 140px;
    }
    .navBarMenu{
        gap: 20px;
        font-size: 17px;
    }
    .navBarRight{
        gap: 30px;
    }

    .navBarRight img{
        width: 22px;
    }
    .navBarRight button{
        padding: 8px 25px;
    }
}

/* For Tablet */
@media (max-width:900px){
    .navBar .logo{
        width: 120px;
    }
    .navBarMenu{
        gap: 15px;
        font-size: 16px;
    }
    .navBarRight{
        gap: 20px;
    }

    .navBarRight img{
        width: 20px;
    }
    .navBarRight button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

/* For Mobile */
@media (max-width:750px){
    .navBarMenu{
        display: none;
    }
}