.footer {
    color: #d9d9d9;

    background-color: #323232;

    display: flex;
    flex-direction: column;
    gap: 20px;

    /* Make footer span the full viewport width */
    position: relative;
    left: 50%;

    transform: translateX(-50%);

    width: 125%;

    box-sizing: border-box;

    padding: 20px 8vw;
    padding-top: 80px;

    margin-top: 100px;
}

.footerCont {
    width: 100%;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footerContLeft,
.footerContRight,
.footerContCenter {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.footerContLeft li,
.footerContRight li,
.footerContCenter li {
    list-style: none;

    margin-bottom: 10px;

    cursor: pointer;
}


.footerContRight h2,
.footerContCenter h2 {
    color: white;
}

.footerSocialIcon img {
    width: 40px;

    margin-right: 15px;

    cursor: pointer;
}

.footer hr {
    width: 100%;

    height: 2px;

    margin: 20px 0;

    background-color: #fff;

    border: none;
}

.footerCopyRight{
    text-align: center;
}