@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,343;1,343&display=swap');

* {
  padding: 0;

  margin: 0;

  box-sizing: border-box;

  font-family: roboto;

  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;

  background-color: #f8f8f8;
}

a {
  text-decoration: none;

  color: inherit;
}

.app {
  margin: 0 1% 0 1%;
}

.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}




/*  */

.appContent{
  display: flex;
}