.header{
    height: 34vw;

    margin: 30px auto;

    background: url('/header_img.png') no-repeat;
    background-size: cover;

    position: relative;
}

.headerContents{
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;

    max-width: 50%;

    bottom: 10%;
    left: 6vw;

    animation: fadeIn 2.4s;
}

.headerContents h2{
    font-weight: 500;

    color: white;

    font-size: max(4.5vw,22px);
}

.headerContents p{
    color: white;

    font-size: 15px;
}

.headerContents button{
    border: none;
    border-radius: 50px;

    color: #000000;

    font-weight: 600;
    font-size: max(1vw ,13px);

    padding: 1vw 2.3vw;

    background-color: white;

    cursor: pointer;
}

.headerContents button:hover{
    background-color: #dfdfdf;
}

/* Media Queries................. */

/* For Screen>Laptops and others */
@media (max-width:1050px) {
    .headerContents{
        max-width: 55%;
    }
}

/* For Tablet .................*/

@media (max-width:770px) {
    .headerContents{
        max-width: 45%;
    }

    .headerContents p{
        display: none;
    }

    .headerContents button{
        padding: 2vw 4vw;
    }
}

@media (max-width:420px) {
    
    .headerContents h2{
        font-size: 16px;
    }

    .headerContents button {
        padding: 5px 4px;
        border-radius: 15px;
        font-size: 10px;
    }
}